{% DEFINE COLOR_PICKER = DAMAIO_EXT_COLOR_PICKER|e %}
{% DEFINE MODAL_LOGIN = DAMAIO_EXT_MODAL_LOGIN|e %}
{% DEFINE H_FULL_WIDTH = DAMAIO_EXT_HEADER_WIDTH|e %}
{% DEFINE F_FULL_WIDTH = DAMAIO_EXT_FOOTER_WIDTH|e %}
{% DEFINE SHOWPASSWORD = DAMAIO_EXT_PASSWORD_SHOW|e %}
{% DEFINE DAMAIO_DEVIANTART = DAMAIO_EXT_DEVIANTART|e %}
{% DEFINE DAMAIO_DEVIANTART_NAME = lang('DAMAIO_EXT_DEVIANTART_NAME')|e %}
{% DEFINE DAMAIO_FACEBOOK = DAMAIO_EXT_FACEBOOK|e %}
{% DEFINE DAMAIO_FACEBOOK_NAME = lang('DAMAIO_EXT_FACEBOOK_NAME')|e %}
{% DEFINE DAMAIO_FLICKR = DAMAIO_EXT_FLICKR|e %}
{% DEFINE DAMAIO_FLICKR_NAME = lang('DAMAIO_EXT_FLICKR_NAME')|e %}
{% DEFINE DAMAIO_GITHUB = DAMAIO_EXT_GITHUB|e %}
{% DEFINE DAMAIO_GITHUB_NAME = lang('DAMAIO_EXT_GITHUB_NAME')|e %}
{% DEFINE DAMAIO_INSTAGRAM = DAMAIO_EXT_INSTAGRAM|e %}
{% DEFINE DAMAIO_INSTAGRAMNAME = lang('DAMAIO_EXT_INSTAGRAM_NAME')|e %}
{% DEFINE DAMAIO_LINKEDIN = DAMAIO_EXT_LINKEDIN|e %}
{% DEFINE DAMAIO_FACEBOOK_NAME = lang('DAMAIO_EXT_FACEBOOK_NAME')|e %}
{% DEFINE DAMAIO_PINTEREST = DAMAIO_EXT_PINTEREST|e %}
{% DEFINE DAMAIO_PINTEREST_NAME = lang('DAMAIO_EXT_PINTEREST_NAME')|e %}
{% DEFINE DAMAIO_REDDIT = DAMAIO_EXT_REDDIT|e %}
{% DEFINE DAMAIO_REDDIT_NAME = lang('DAMAIO_EXT_REDDIT_NAME')|e %}
{% DEFINE DAMAIO_SKYPE = DAMAIO_EXT_SKYPE|e %}
{% DEFINE DAMAIO_SKYPE_NAME = lang('DAMAIO_EXT_SKYPE_NAME')|e %}
{% DEFINE DAMAIO_SNAPCHAT = DAMAIO_EXT_SNAPCHAT|e %}
{% DEFINE DAMAIO_SNAPCHAT_NAME = lang('DAMAIO_EXT_SNAPCHAT_NAME')|e %}
{% DEFINE DAMAIO_SOUNDCLOUD = DAMAIO_EXT_SOUNDCLOUD|e %}
{% DEFINE DAMAIO_SOUNDCLOUD_NAME = lang('DAMAIO_EXT_SOUNDCLOUD_NAME')|e %}
{% DEFINE DAMAIO_STEAM = DAMAIO_EXT_STEAM|e %}
{% DEFINE DAMAIO_STEAM_NAME = lang('DAMAIO_EXT_STEAM_NAME')|e %}
{% DEFINE DAMAIO_TUMBLR = DAMAIO_EXT_TUMBLR|e %}
{% DEFINE DAMAIO_TUMBLR_NAME = lang('DAMAIO_EXT_TUMBLR_NAME')|e %}
{% DEFINE DAMAIO_TWITTER = DAMAIO_EXT_TWITTER|e %}
{% DEFINE DAMAIO_TWITTER_NAME = lang('DAMAIO_EXT_TWITTER_NAME')|e %}
{% DEFINE DAMAIO_WHATSAPP = DAMAIO_EXT_WHATSAPP|e %}
{% DEFINE DAMAIO_WHATSAPP_NAME = lang('DAMAIO_EXT_WHATSAPP_NAME')|e %}
{% DEFINE DAMAIO_YOUTUBE = DAMAIO_EXT_YOUTUBE|e %}
{% DEFINE DAMAIO_YOUTUBE_NAME = lang('DAMAIO_EXT_YOUTUBE_NAME')|e %}
{% DEFINE DAMAIO_FEED = DAMAIO_EXT_FEED|e %}
